$primary-text-blue: #050d33;
$secondary-text-grey: #82889c;

.module-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  background-color: #f0f1f4;
  .mls {
    .module-breadcrumb {
      margin-top: 6px;
      .MuiTypography-body1 {
        font-size: 14px;
        font-weight: 600;
        .MuiBreadcrumbs-ol .MuiBreadcrumbs-li:last-child {
          text-decoration: underline;
          text-decoration-color: #FC68A2;
        }
      }
    }
  }
}

.module-title {
  color: $primary-text-blue;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
}

.module-table {
  margin-top: 30px;
  .MuiPaper-elevation2 {
    box-shadow: none;
  }
  .MuiPaper-rounded {
    border-radius: 7px;
  }

  .MuiTypography-h6 {
    font-size: 24px;
    font-weight: 500;
  }
}

.container-50 {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 50px;
  .content {
  }
}

.fd-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fd-container {
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 30px;
}
.fc-container {
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 30px;
}

.fc-data {
  margin-top: 22px;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 23px;
  color: #434966;
  padding-bottom: 30px;
}

.fc-content {
  margin: 30px;
  padding-bottom: 30px;
}

.fc-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
  }
  h6{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;

  }
  .MuiButton-label {
    font-size:18px!important;
  }
}

.fd-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  .fd-image {
    height: 150px;
    width: 150px;
    margin-right: 30px;
    margin-top: 22px;
    
    img {
      border-radius: 12px;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
  }
}

.fd-infos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
 
}

.fd-info {
  margin-bottom: 22px;
  margin-right: 28px;
  width: 250px;
  .title {
    font-size: 11px;
    font-weight: 600;
    color: $secondary-text-grey;
    margin-bottom: 10px;
  }

  .info {
    font-size: 13px;
    font-weight: 600;
  }
}

.fd-address {
  margin-bottom: 22px;
  .title {
    font-size: 11px;
    font-weight: 600;
    color: $secondary-text-grey;
    margin-bottom: 10px;
  }

  .info {
    font-size: 13px;
    font-weight: 600;
  }
}

.fd-description {
  margin-bottom: 22px;
  .title {
    font-size: 11px;
    font-weight: 600;
    color: $secondary-text-grey;
    margin-bottom: 10px;
  }

  .info {
    font-size: 13px;
    font-weight: 600;
    width: 55%;
  }
}

.p-img {
  margin-top: 13px;
  height: 150px;
  width: 150px;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.ec-btn {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.btn-grp-prime {
  .MuiToggleButtonGroup-root {
    border-radius: 22px;
    background-color: #f3f4f7;

    .MuiButtonBase-root {
      color: $primary-text-blue;
      font-size: 13px;
      height: 44px;
      min-width: 130px;
      border: none;
      background-color: #f3f4f7;
      border-radius: 22px;
    }

    .Mui-selected {
      border-radius: 24px;
      font-size: 13px;
      font-weight: 400;
      background: linear-gradient(135.21deg, #d831b4 0%, #6241e9 100%);
      color: #ffffff;
      z-index: 10;
    }
  }
}

.btn-grp-head {
  .MuiToggleButtonGroup-root {
    border-radius: 22px;
    background-color: #FAFBFC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .MuiButtonBase-root {
      color: $primary-text-blue;
      font-size: 13px;
      height: 44px;
      min-width: 130px;
      border: none;
      background-color: #FAFBFC;
      border-radius: 22px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .Mui-selected {
      border-radius: 24px;
      font-size: 13px;
      font-weight: 400;
      background: linear-gradient(135.21deg, #d831b4 0%, #6241e9 100%);
      color: #ffffff;
      z-index: 10;
    }
  }
}

.module-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.simp-module-toolbar {
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  justify-content: space-between;
  align-items: center;
}

.custom-table-title {
  color: #050d33;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
}

.mui-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.custom-table-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
}

.MuiSelect-root {
  background: none !important;
}

.e-avatar {
  display: flex;
  align-items: center;
  img {
    margin-right: 18px;
  }
}

// credential

.cred-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 36px;
  padding-bottom: 20px;
  .cred-heading {
    display: flex;
    align-items: center;
    margin-left: 30px;
    span {
      color: $primary-text-blue;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
    }
    img {
      margin-left: 17px;
    }
  }
  .cred-info {
    margin-left: 30px;
    margin-right: 30px;
    .cred-acc {
      margin-top: 20px;

      .acc-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e4e4ed;
        padding-top: 16px;
        width: 100%;
        
        
      }
    }
  }
}

//settings

.sett-info {
  .sett-acc {
    margin-top: 30px;
    .MuiTypography-body1 {
      font-size: 18px;
      font-weight: 600;
      font-family: "Inter";
    }
    .MuiSvgIcon-root {
      font-size: 42px !important;
    }
    .sett-acc-details {
      border-top: 1px solid #e4e4ed;
      padding-top: 16px;
      width: 100%;

      .sett-cta {
        margin-top: 30px;
        background-color: #f5f6fa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
      }
    }
  }
}

// .sett-notification{

//   &-title{
//     color: #82889C;
//     font-size: 11px;
//     font-weight: 600;
//     margin-bottom: 15px;
//   }
//   &-switch{
    
//   }
// }

// //roles
// .fd-infos-access {
//   margin-top: 17px;
//   .fd-info-access {
//     margin-bottom: 22px;
//     .title {
//       font-size: 13px;
//       font-weight: 600;
//       color: $secondary-text-grey;
//       margin-bottom: 17px;
//       text-transform: capitalize;
//     }
//   }
//   .access-container {
//     display: flex;
//     align-items: center;
//     .access-content {
//       display: flex;
//       margin-right: 31px;
//       .title {
//         font-size: 14px;
//         font-weight: 600;
//         color: $primary-text-blue;
//         margin-right: 24px;
//         text-transform: capitalize;
//       }
//     }
//   }
// }

.faq-search {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  padding-top: 20.9px;
}

.faq-container {
  background-color: #f5f6fa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  .faq-btn {
    display: flex;
    justify-content: flex-end;
  }
  .question {
    margin-bottom: 20px;
  }
  .heading {
    height: 17px;
    width: 152px;
    color: #050d33;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
  }
  .content {
    margin-top: 7px;
    color: #82889c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
}

.faq-input {
  margin-top: 30px;
  margin-bottom: 50px;
  .faq-question {
    margin-bottom: 30px;
  }
  .faq-answer {
    margin-bottom: 10px;
  }
}

//credential management

.references{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.reference{
  width: 200px;
  margin-right: 10px;
}

.info-container {
  background-color: #fafbfc;
  padding: 30.5px 20.5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
  .info-top{
    display: flex;
    justify-content: flex-end;
  }
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29.5px;
    .info-title {
      font-weight: 600;
    }
    .info-controls {
    }
  }
  .info-contents {
    background-color: white;
    margin-top: 29.5px;
    border-radius: 10px;
    border: 1px solid #F2F2F7;
    padding: 20.5px;
    .info-content {
      margin-bottom: 22px;
      
      
      .content-title {
        font-size: 11px;
        font-weight: 600;
        color: $secondary-text-grey;
        margin-bottom: 10px;
      }
      .content-value {
        color: $primary-text-blue;
        font-size: 13px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}

.list-title {
  background-color: #fafbfc;
  padding-left: 28px;
  font-size: 12px;
  font-weight: 600;
  color: $secondary-text-grey;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid #ffffff;
}

.btn-grp-cred {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  height: 80vh;
  .MuiToggleButtonGroup-root {
    width: 100%;

    .MuiButtonBase-root {
      color: $primary-text-blue;
      font-size: 13px;
      border: none;
      height: 80px;
      text-align: left;
      padding-left: 28px;
      .MuiToggleButton-label{
        justify-content: left;
        
      }
    }

    .Mui-selected {
      font-size: 13px;
      font-weight: 600;
      background: #f5f6fa;
    }
  }
}

.anchor{
  text-decoration: none;
  color: $primary-text-blue;
}
.anchor:active{
  text-decoration: none;
  color: $primary-text-blue;
}
.anchor:hover{
  text-decoration: none;
  color: $primary-text-blue;
}

.form-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid  #F5F6FA;
  border-radius: 12px;
  padding: 8px;
}

.radio-container{
  display: flex;
}

.cred-cta{
  background-color: #F5F6FA;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 23px;
  padding-bottom: 23px;
  border-radius: 0 0 16px 16px;
  width: 100%;
}

// .e-container{
//   padding: 50px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   max-height: 70vh;
//   .e-heading{
//     font-size: 30px;
//     font-weight: 600;
//     text-align: center;
//     margin-bottom: 23px;
//   }
// }

// .text-cred{
//   font-size: 13px;
//   font-weight: 600;
// }

// .ref-cred{
//   font-size: 13px;
//   font-weight: 400;
//   span{
//     font-size: 13px;
//     font-weight: 600;
//   }
// }

// //stepper

// .stepper .MuiPaper-root{

  
//     background-color: transparent !important;
// }
// .MuiStepLabel-label.MuiStepLabel-alternativeLabel{
//   font-weight: 600;
// }
