.order_success {
  padding: 15px 80px 145px 80px;
  padding-right: 80px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: Inter Bold;
  line-height: 48px;
  z-index: 2;
}

.header_box {
  position: relative;
  padding-right: 20px;
}

.rectangle {
  height: 19px;
  width: 138px;
  /* background-color: #ffe2ed; */
  z-index: -1;
  position: absolute;
  top: 17px;
  right: 0;
}

.side_header {
  font-family: Inter SemiBold;
  font-size: 18px;
}

.header_padding {
  margin-bottom: 30px;
}

.box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.order_details {
  padding: 30px;
  border: 2px solid #dfe7f5;
  border-radius: 8px;
}

.label {
  font-family: "Inter SemiBold";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.content {
  font-family: "Inter Regular";
  font-size: 16px;
  padding-bottom: 30px;
}

.delivery_address {
  font-family: Inter Regular;
}

.dashboard_btn {
  margin-top: 60px;
  max-width: 318px;
}

/* Ready To Wear Card */

.order_card {
  border: 2px solid #dfe7f5;
  margin-top: 40px;
  padding: 20px 27px 16px 30px;
  border-radius: 8px;
  position: relative;
}

.header_content {
  padding-top: 10px;
  padding-bottom: 30px;
}

.product_image {
  width: 109px;
  height: 120px;
  object-fit: contain;
  border-radius: 8px;
}

.order_image {
  width: 109px;
  height: 120px;
  border-radius: 8px;
  object-fit: contain;
  border: 1px solid rgb(223, 231, 245);
}

.order_info_label {
  font-family: Inter Regular;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 14px;
}

.order_info_content {
  font-family: Inter Medium;
  font-size: 16px;
  margin-top: 2px;
}

.order_info_title {
  margin-bottom: 15px;
}

.view_detail_btn {
  border-radius: 8px;
  border: 2px solid #fc68a2;
  color: #fc68a2;
  width: 100%;
  max-width: 173px;
  /* height: 48px; */
  margin-bottom: auto;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .box {
    grid-template-columns: 1fr;
  }
  .order_success {
    padding: 15px 40px 80px 30px;
    padding-right: 40px;
  }
  .header {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .box {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 968px) {
  .box {
    grid-template-columns: 2fr 1fr;
  }
}

.app_btn {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .app_btn {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

.app_btn_txt {
  display: "flex";
  align-items: "center";
  margin-top: "20%";
}

@media screen and (max-width: 600px) {
  .app_btn_txt {
    margin-top: "5%";
  }
}

.greenTick {
  width: 60px !important;
  margin-right: 10px;
}

.order_success_msg_grid {
  margin-bottom: 50px !important;
}
